---
import type { SocialMedia } from '../types/social';
import SocialCard from '../components/SocialCard.astro';
import Layout from '../layouts/Layout.astro';

const socials: SocialMedia[] = [
  {
    title: 'LinkedIn',
    url: 'https://www.linkedin.com/in/alejandroslpz',
    color: '#0077B5',
    icon: 'linkedin',
    textColor: '#ffffff',
  },
  {
    title: 'GitHub',
    url: 'https://github.com/alejandroslpz',
    color: '#171717',
    icon: 'github',
    textColor: '#ffffff',
  },
  {
    title: 'Instagram',
    url: 'https://www.instagram.com/aleeslpz',
    color: '#E1306C',
    icon: 'instagram',
    textColor: '#ffffff',
  },
  {
    title: 'Tiktok',
    url: 'https://www.tiktok.com/@alexsanlo_',
    color: '#171717',
    icon: 'tiktok',
    textColor: '#ffffff',
  },
  {
    title: 'Recursos',
    url: '/recursos',
    color: '#FFB74D',
    icon: 'resources',
    textColor: '#ffffff',
  },
];
---

<Layout title="Alex Sánchez">
  <main>
    <section class="mx-auto max-w-xl px-4">
      {socials.map((social) => <SocialCard {...social} />)}
    </section>
  </main>
</Layout>
