---
import type { Resource } from '../components/ResourceLinks.astro';
import ResourceLinks from '../components/ResourceLinks.astro';
import Layout from '../layouts/Layout.astro';

const resources: Resource[] = [
  {
    title: 'Github Templates',
    url: 'https://gist.github.com/alejandroslpz/dfcd6463fd5ad792acc3379648df5177',
    description: 'Plantillas para issues y pull requests.',
  },
  {
    title: 'Expo Speech App',
    url: 'https://gist.github.com/alejandroslpz/8114f188cfe32dc1c7bc9bc77f9d3230',
    description:
      'Aplicación para convertir texto a voz / dictado de texto a voz en react native utilizando Expo.',
  },
  {
    title: 'FaceId / TouchId en React Native',
    url: 'https://gist.github.com/alejandroslpz/adb67ae46cbd5ae8b8b64bd1418255f8',
    description: 'Ejemplo de uso de FaceId / TouchId en React Native.',
  },
];
---

<Layout title="Alex Sánchez">
  <main>
    <section class="mx-auto max-w-xl px-4">
      <ResourceLinks resources={resources} />
    </section>
  </main>
</Layout>
