<footer class="my-8">
  <p class="text-center text-white text-sm">&copy; Alex Sánchez 2024.</p>
  <p class="mt-4 text-center text-white text-sm">
    All rights reserved. Built with Astro ♥️
  </p>
</footer>
